@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


*:focus{
    outline: none;
}

.titre h1 {
    margin: 0;
    font-size: 33px;
    color: #fff;
    padding: 0 10%;
    font-family: Luckiest Guy, cursive;
    max-height: max-content;
    overflow: auto;
}
h3 {
    margin: 0;
    font-size: 17px;
    font-weight: 500;
    color: #ccc;
    padding: 0 10%;
}
.container {
    display: block;
    width: 100%;
    height: max-content;
    margin: auto;
    overflow: hidden;
    /*background-image: url("https://mariongrandvincent.github.io/HTML-Personal-website/img-codePen/bg-music-player.jpg");*/
    background-repeat: repeat;
    background-size: cover;
    border-radius: 10px;
    padding-bottom: 50px;
}
.music-player {
    display: block;
    position: relative;
    width:50vw;
    height: fit-content;
    margin: auto;
    margin-top: 6%;
    padding-bottom: 5em;
    border: solid #5bbb95 1px;
    border-radius: 0 0 10px 10px;
    background: transparent linear-gradient(to bottom,rgba(10,11,31,0.9) 50%,rgb(10,11,31) 70%) repeat scroll 0 0;
    box-shadow: 1px 10px 20px 5px #222;

}
   @media (max-width: 480px) {
       .music-player {
           display: block;
           position: relative;
           width: 85vw;
           height: 550px;
           margin: auto;
           margin-top: 6%;
           padding-bottom: 30px;
           border: solid #5bbb95 1px;
           border-radius: 0 0 10px 10px;
           background: transparent linear-gradient(to bottom, rgba(10, 11, 31, 0.9) 50%, rgb(10, 11, 31) 70%) repeat scroll 0 0;
           box-shadow: 1px 10px 20px 5px #222;
       }
}


.cover {
    /*float: left;*/
    width: 100%;
    /*height: 60%;*/
}
.cover img {
    /*display: block;*/
    /*position: absolute;*/
    /*top: 8%;*/
    /*left: 14%;*/
    /*width: 20%;*/
    /*margin: auto;*/
    padding-top: 2em;
    text-align: center;
        margin: 0 auto !important;

}
.titre {
    float: left;
    width: 100%;
}
.lecteur {
    width: 100%;
    display: block;
    height: auto;
    position: relative;
    float: left;
}

.controls{
    display: inline-block;
    width: 300px;
    padding-inline: 10px;
}
.play-pause {
    font-size: 1.6em;
    float: right;
    text-align: right;
    color: springgreen;
}

.volume{
    display: flex;
    align-content: end;
    text-align: right;
}
#volume-slider{
    /*width: 30% !important;*/
    margin-left: auto !important;
}

.waveform-container {
    margin: 0 auto !important;
    width: 80% !important;
}

/*.knob {*/
/*    width: 20px; !important;*/
/*    !*height: 20px; !important;*!*/
/*    !*height: 20px;*!*/
/*}*/
.extra-controls{
    width: 70%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
