@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');



body, html {

    /*height: 100vh;*/
    /*width: 100vw;*/

    background:  linear-gradient(to bottom, rgba(10, 11, 31, 0.9) 50%, rgb(10, 11, 31) 70%) no-repeat scroll 0 0;
    color: whitesmoke !important;
}
header {
    background-color: rgba(106, 112, 224, 0.2) !important;
    color: whitesmoke !important;
}
.navbar {
    color: whitesmoke !important;
}

main {
    margin-block: 50px;
    padding-bottom: 200px;
    /*max-height: max-content;*/
}



.container {
    text-align: center;
}

/*.button {*/
/*    background-color: cadetblue;*/
/*    border-radius: 10px;*/
/*    color: white;*/
/*    padding: 15px 32px;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    display: inline-block;*/
/*    font-size: 16px;*/
/*}*/


h1 {
    padding-top: 5vh;
    text-align: center;
    font-family: Luckiest Guy, cursive;
    letter-spacing: 2px;
    color: whitesmoke !important;

}

label {
    padding: 5px;
}

input[type=text] {
    width: calc(80% - 57px);
    height: 36px;
    margin: 13px 0 0 -5px;
    padding-left: 10px;
    border-radius: 0 5px 5px 0;
    border: solid 1px #cbc9c9;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    background: #fff;
}

.button:hover {
    zoom: 1.2;
}

form {

    background: transparent linear-gradient(to bottom, rgba(10, 11, 31, 0.9) 50%, rgb(10, 11, 31) 70%) no-repeat scroll 0 0;
    padding: 20px;
    text-align: left;
    width: 20vw;
    margin: 0 auto;

}

.nav-bottom {
    background-color: rgba(106, 112, 224, 0.1);

}
