{% extends 'base.html' %}
{% block title %} Add a Song {% endblock %}
{% block content %}

    {% load static %}

    {% load crispy_forms_tags %}


    <h1 class="display-3">Add a Song </h1>

    <br>
    <br>

    <div class="container py-2 ">

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}

            <button class="btn btn-green" style="background-color: #5bbb95;" type="submit" >Upload</button>

        </form>

    </div>
{% endblock content %}
